<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiwei.management.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.jiwei.management.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, info, status 
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByStatus" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	 from Product
  	 where status=1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiwei.management.model.User">
    insert into user_t (name, pwd, 
      age)
    values (#{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER})
  </insert>
  
</mapper>